<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="X-UA-Compatible" content="ie=edge" />
		<link
			rel="stylesheet"
			href="https://files.solvecms.com/test/e4149dd0-9804-431b-bbc8-6ecbe984b199?v=201904301039"
		/>
		<link
			rel="stylesheet"
			href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
			integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
			crossorigin="anonymous"
		/>
		<link rel="stylesheet" href="style.css" />
		<title>Suppliers</title>
	</head>
	<body>
		<div class="container">
			<div id="suppliers-app">
				<h1>Forhandlere</h1>
				<div id="supplier-row">
					<div id="suppliers-categories">
						<label
							class="supplier-search"
							aria-label="Søk etter forhandlere"
						>
							<input type="text" v-model="search" />
						</label>
						<div class="suppliers">
							<h4>Kategorier</h4>
							<label
								v-for="supplier in suppliers"
								class="supplier"
							>
								<button
									role="radio"
									:aria-checked="!search.length && activeCategory == supplier.categoryName"
									@click="activeCategory = supplier.categoryName;  search = ''"
								>
									<span class="checkbox">
										<span class="checkmark"></span>
									</span>
									<span class="txt">{{
										supplier.categoryName
									}}</span
									><span class="amount">
										({{ supplier.items.length }})</span
									>
								</button>
							</label>
						</div>
					</div>
					<div id="suppliers-list">
						<div class="row">
							<div class="col-md-8">
								<h3>
									{{
										search.length
											? 'Søk: ' + search
											: activeCategory
									}}
								</h3>
							</div>
							<div class="col-md-4">
								<div
									class="product-list-options list-type-sort-order"
								>
									<div class="product-filter-options">
										<div class="product-display-options">
											<div class="product-list-options">
												<div class="txt">Visning:</div>
												<div
													class="list-type-button-group"
												>
													<button
														class="cards"
														:class="{active : listType == 'cards'}"
														@click="listType = 'cards'"
														:aria-checked="listType == 'cards'"
														role="radio"
														aria-label="Card view"
													>
														<span></span>
														<span></span>
														<span></span>
														<span></span>
													</button>
													<button
														class="stripes"
														:class="{active : listType == 'stripes'}"
														@click="listType = 'stripes'"
														:aria-checked="listType == 'stripes'"
														role="radio"
														aria-label="Stripe view"
													>
														<span></span>
														<span></span>
														<span></span>
													</button>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div id="suppliers-list-holder" :class="listType">
							<div
								v-for="supplier in activeSuppliers"
								:key="supplier.key"
								class="supplier"
							>
								<span class="img-holder">
									<a
										:href="supplier.url"
										target="_blank"
										rel="noopener noreferrer"
										class="img-anchor"
									>
										<img
											:src="supplier.img"
											:alt="supplier.name + ' logo'"
											loading="lazy"
										/>
									</a>
								</span>
								<span class="name">
									{{ supplier.name }}
								</span>
								<a
									:href="supplier.url"
									target="_blank"
									rel="noopener noreferrer"
									class="url"
									>Gå til nettside</a
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script>
		<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.15/lodash.min.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<script src="suppliers.js"></script>
		<script src="suppliers-script.js"></script>
	</body>
</html>
